<div class="coupon-container">
    <div class="wrap">
        <h2>Coupon Claim</h2>

        <div class="coupon-content">
            <button 
                (click)="claimCoupon()" 
                [disabled]="countdown > 0 || couponCode" 
                [ngClass]="{
                    'disabled': countdown > 0 || couponCode,
                    'claimed-button': couponCode
                    }" 
                class="claim-button">
                
                {{ couponCode ? 'Claimed' : 'Claim Coupon' }}
            </button>

            <div class="message-container" *ngIf="message">
                <div [ngClass]="{'success': isSuccess, 'error': !isSuccess}" class="message">
                    {{ message }}
                </div>
            </div>

            <div class="coupon-code" *ngIf="couponCode">
                <span class="code-label">Your coupon code:</span>
                <span class="code">{{ couponCode }}</span>
            </div>

            <div class="countdown" *ngIf="countdown > 0">
                <span class="code-label" *ngIf="couponCode">{{couponCode}}</span>
                <div class="countdown-label">Next coupon available in:</div>
                <div class="countdown-timer">{{ formattedCountdown }}</div>
            </div>
        </div>
    </div>
</div>